# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# macOS
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.swp

# Test & coverage
htmlcov/
.tox/
.coverage*
.pytest_cache/

# Local env files
.env
example.env

# Generated outputs
output-config.yaml